@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseBlur1 {
    0% {
        transform: scale(1) translate(50px, -50px);
        opacity: 1;
    }
    50% {
        transform: scale(1.2) translate(50px, -50px);
        opacity: 0.7;
    }
    100% {
        transform: scale(1) translate(50px, -50px);
        opacity: 1;
    }
}

@keyframes pulseBlur2 {
    0% {
        transform: scale(1) translate(-50px, 50px);
        opacity: 0.7;
    }
    50% {
        transform: scale(0.8) translate(-50px, 50px);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(-50px, 50px);
        opacity: 0.7;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: black; /* Optional for better visibility */
    overflow: hidden;
}

.blur1 {
    position: absolute;
    height: 800px;
    width: 800px;
    background-image: radial-gradient(closest-side, rgb(254, 83, 187,0.25), transparent);
    animation: pulseBlur1 5s infinite ease-in-out;
    filter: blur(80px);
    top: 0%;
    right: 70%;
}

.blur2 {
    position: absolute;
    height: 700px;
    width: 700px;
    background-image: radial-gradient(closest-side, rgb(8, 247, 254,0.31), transparent);
    animation: pulseBlur2 5s infinite ease-in-out;
    filter: blur(90px);
    bottom: 0%;
    right: 45%;
}
